.footer {
    background-color:#111010;
    height: 150px;
    padding: 1.2rem;
    position: relative;
    bottom: 0;
    color:rgb(240, 143, 53);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer ul {
    display: flex;
    margin: 0.7rem;
    list-style-type: none;
    justify-content: center;
}
.footer hr {
    color:rgb(245, 245, 245);
    opacity: 0.2;
    margin: 1rem 1rem 0 1rem;
}
.footer .info-web > li{
    padding: 0 3rem;
}
.footer .icons-media {
    height: 50px;
    width: 100%;
}
.footer .icons-media li  i{
    margin-left: 1.8rem;
}
.footer .icons-media li{
    display: block;
    text-align: center;
}
.footer ul li i {
    padding: 0.3rem;
    border-radius: 10px;
    font-size: 1.3rem;
    background-color: rgb(255, 255, 255);
    color:rgb(146, 39, 146);
}
.footer > span{
    display: block;
    text-align: center;
    font-weight: 300;
    font-size: 0.8rem;
}

