.info-musics{
    padding: 0 1rem;
    width: 100vw;
    height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.info-musics  h4{
    margin-left: 2.3rem;
    font-size: 1.8rem;
    justify-self: flex-end;
    font-family: Helvetica;
}

.container-Search{
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
    width: 60%;
}

.container-Search #inputSearch {
    padding: 1rem;
    width: 60%;
    border-radius: 13px;
    border: none;
}

.container-Search button{
    padding: 1rem;
    border-radius:  14px;
    border: none;
    margin-left: 0.8rem;
    font-weight: bolder;
    background-color: #A569BD;
}

.carousel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.carousel .list-album{
    width: 200px;
    height: 300px;
    background-color: rgb(228, 197, 197);
    margin-left: 0.8rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    box-sizing: border-box;   
}

.carousel .list-album .item-album{
    width: 100%;
    height: 100%;
    font-size: 0;
    background-color: #845b94;
    -webkit-clip-path: circle(38.9% at 100% 100%);
    clip-path: circle(38.9% at 100% 100%);
    transition: .5s ease;
}

.carousel .list-album .item-album span{
    text-transform: uppercase;
    justify-self: center;
    font-weight: bolder;
    color: white;
}

.carousel .list-album .item-album button{
    border-radius: 15px;
    border: none;
    padding: 0.2rem 1rem;
    color: white;
    background-color:rgb(12, 7, 15);
}

.carousel .list-album .item-album:hover{
    width: 100%;
    height: 50%;
    border-radius: 0 0 15px 15px;
    background-color: #845b94;
    -webkit-clip-path: circle(141.4% at 100% 100%);
    clip-path: circle(141.4% at 100% 100%);
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    padding-top: 1rem;
    line-height: 1.5;
}

.carousel .list-album .img-album{
    align-self:  flex-start;
   height: 80%;
   margin: 1.6rem auto;
}

