.nav{
    height: 80px;
   display: flex;
   justify-content: space-around;
   position: sticky;
   top: 0;
    width: 100vw;
    background-color: #111010;
}
.nav .nav-logo{
    height: 100%;
    overflow: hidden;
}
.nav .nav-logo img{
    height: 100%;
}
.nav ul {
    margin: 1rem;
    display: flex;
    align-items: center;
    border-radius:  30px;
    opacity: 0.7;

}

.nav ul li {
    padding: 0 3.4rem;
    list-style-type: none;
    font-family: times, "Times New Roman", Times, serif;
    font-size: 0.8rem;
    font-weight: 600;
    color: rgb(241, 238, 238);
}
.nav ul li > i {
    font-size: 1.4rem;
    padding: 0;
}


