.player{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
}
.player .control-music{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 75%;
    width: 400px; 
    border-radius: 20px;
    border: 1px solid rgb(214, 145, 42);
    background-color: #dfdbdb;
    box-shadow: 0 0 2em 0 rgb(46, 46, 46);
    padding: 0.5rem;    
}
.player .control-music img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
 }
.player .setup-music{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color:  #dfdbdb;
 
}
.player .setup-music button{
    margin-right: 0.8rem;
    padding: 18px;
    border-radius: 50%;
    border: none;
    color:rgb(253, 156, 11);
    background: rgb(240, 236, 236);
    box-shadow: -2px 2px  rgb(117, 115, 115);
}
.player .setup-music button:hover{
    cursor: pointer;
}

.player .setup-music button:nth-last-of-type(3){
   padding: 27px;
   font-size: 1.2rem;
}
 .player .setup-music button:first-child{
    padding: 10px;
 }
 .player .setup-music button:last-child {
    padding: 10px;
 }

 

.player  .control-music .progress-bar {
    width: 100%;
    height: 3px;
    background-color:black;
    border: 2px solid #f7c15e;
    border-radius: 20px;
}
.player  .control-music .progress-bar > div {
    height: 100%;
    width: 30%;
    background-color:rgb(214, 145, 42);
}
.player .control-music .settings-music{
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:100%;
}

.player .list-music{
    background-color: #f7c15e;
    border: none;
    display: flex;
    flex-direction: column;
    height: 75%;
    width: 460px;
    border-radius: 15px;
}

