html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.table-calendar{
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  width: 100vw;
  height: 100vh;
  background-color: lightblue;
}

.calendar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #242424;
  border: 2px solid #59c631;
  width: 450px;
  padding: 10px;
}

.currentMonth{
color: #59c631;
margin: 0.7em;
font-weight: bold;
font-size: 1.4rem;
}


.Months{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #242424;
  border: 2px solid #59c631;
  width: 450px;
  height: 500px;
  padding: 10px;
}

.week{
    display: flex;
    justify-content: stretch;
    flex-direction: column;
}

.days{
    padding: 10px;
    font-size: 1.5rem;
    color: #59c631;
    width: 10%;
}

