*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
   font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
   font-weight: bold;
}
#section1{
 
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    height: 100vh;
}
#section1 #twitter-background{
    position: absolute;
    max-width: 100%;
    height: 100%;
}
.container:nth-child(1){
    z-index: -1;
    width: 58vw;
    display: flex;
}
.container:nth-child(2){  
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 42vw;
    padding: 2rem;
    background-color: white;    
    color: black;
}
#container-child{

    min-width: 700px;
}
.container img#logo-bird {
    height: 6%;
    width:  6%;
}
.info{
    font-size: 3.8rem;
    padding: 4rem 0;
}
#section2{
    width: 100vw;
    height: 15%;
    background-color: white;  
}
.buttons{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}
.buttons > span{
    padding-bottom: 1rem;
    font-size: 1.8rem;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: bold;
}
.buttons .bt-login{
    padding: 0.7rem 0;
    margin: .5rem;
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 30px;
    border: 1px solid #D3D3D3;  
}
.buttons .bt-login:hover {
    background-color:	#f4f4f8;
    cursor: pointer;
}
.bt-login img{
    width: 5%;
    height: 100%;
    margin-right: .5rem;
}
.bt-login a{
    text-decoration: none;
    color: #000000;
    font-size: .9rem;
}
.container .description{
    display: flex;
    flex-direction: column;
    width: 30vw;
}
.container .description p:nth-child(1){
    font-size: 0.8rem;
    font-weight: normal;
    margin: 0.8rem 0;
    color: dimgrey;
}
.description p a{
    text-decoration: none;
    color: rgb(27, 149, 224);
}
.container .description p:nth-child(2){
    font-size: 0.9rem;
    font-weight: normal;
}
.rodape{
    height: 100%;
    color: grey; 
    display: flex;
    justify-content: center;
    padding: 0.7rem 1rem;
}
.rodape ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.rodape ul > li {
    font-weight: normal;
    margin-top: 0.6rem;
    padding-right: 1rem;
    font-size: 0.73rem;
    list-style: none;
}
.rodape span{
    margin-top: 0.8rem;
    font-size: 0.75rem;
    font-weight: normal;
}
